{% extends 'padrao.html' %}

{% block body %}
<h1 class="ui center aligned header">Cadastro de Canais</h1>

<!-- Formulário para Adicionar Canal -->
<form class="ui form" action="/add_canal" method="post">
    <div class="fields">
        <div class="eight wide field">
            <label>Tribo</label>
            <select name="tribo">
                <option value=""></option>
                <option value="Assistente Virtual">Assistente Virtual</option>
                <option value="Móvel">Móvel</option>
                <option value="Residencial">Residencial</option>
            </select>
        </div>
        <div class="eight wide field">
            <label>Canal</label>
            <input type="text" name="canal" placeholder="Canal">
        </div>
        <div class="eight wide field">
            <label>Subcanal</label>
            <input type="text" name="subcanal" placeholder="Subcanal">
        </div>
    </div>
    <div class="fields">
        <!--
        <div class="eight wide field">
            <label>Subcanal</label>
            <input type="text" name="subcanal" placeholder="Subcanal">
        </div>
        
        <div class="eight wide field">
            <label>Produto</label>
            <input type="text" name="produto" placeholder="Produto">
        </div>
        -->
    </div>
    <!--
    <div class="field">
        <label>Categoria</label>
        <input type="text" name="categoria" placeholder="Categoria">
    </div>
    -->
    <button class="ui blue button" type="submit">Adicionar Canal</button>
</form>

<!-- Lista de Canais -->
<table class="ui celled table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tribo</th>
            <th>Canal</th>
            <th>Subcanal</th>
            <!--
            <th>Produto</th>
            <th>Categoria</th>
            -->
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for canal in canais|reverse %}
        <tr>
            <td>{{ canal.id }}</td>
            <td>{{ canal.tribo }}</td>
            <td>{{ canal.canal }}</td>
            <td>{{ canal.subcanal }}</td>
            <!--
            <td>{{ canal.produto }}</td>
            <td>{{ canal.categoria }}</td>
            -->
            <td>
                <a class="ui blue button" href="/edit_canal/{{ canal.id }}">Editar</a>
                <a class="ui red button" href="/delete_canal/{{ canal.id }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
