{% extends 'padrao.html' %}

{% block body %}
<h1 class="ui center aligned header">Editar Funcionalidade</h1>

<!-- Formulário para Adicionar Tarefa -->
<form class="ui form" method="post">
    <div class="three fields">
        <div class="field">
            <label for="canal">Canal</label>
            <select id="canal" name="canal" required>
                <option value=""></option>
                {% set unique_canais = [] %}
                {% for info in info_canais %}
                    {% if info.canal not in unique_canais %}
                        <option value="{{ info.canal }}" {% if info.canal == base_to_edit.canal %}selected{% endif %}>{{ info.canal }}</option>
                        {% set _ = unique_canais.append(info.canal) %}
                    {% endif %}
                {% endfor %}
            </select>
            
        </div>
        <div class="field">
            <label for="subcanal">Subcanal</label>
            <select id="subcanal" name="subcanal" required >
                {% set unique_canais = [] %}
                {% for info in info_canais %}
                    {% if info.subcanal not in unique_canais %}
                        <option value="{{ info.subcanal }}" {% if info.subcanal == base_to_edit.subcanal %}selected{% endif %}>{{ info.subcanal }}</option>
                        {% set _ = unique_canais.append(info.canal) %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>                
        <div class="field">
            <label for="produto">Produto</label>
            <select id="produto" name="produto" required>
                <option value="Perfil Não Identificado" {% if base_to_edit.produto == "Perfil Não Identificado" %}selected{% endif %}>Perfil Não Identificado</option>
                <option value="BL Pós Pago"{% if base_to_edit.produto == "BL Pós Pago" %}selected{% endif %}>BL Pós Pago</option>
                <option value="BL Pré Pago"{% if base_to_edit.produto == "BL Pré Pago" %}selected{% endif %}>BL Pré Pago</option>
                <option value="Controle"{% if base_to_edit.produto == "Controle" %}selected{% endif %}>Controle</option>
                <option value="Controle Fácil"{% if base_to_edit.produto == "Controle Fácil" %}selected{% endif %}>Controle Fácil</option>
                <option value="Pós Pago"{% if base_to_edit.produto == "Pós Pago" %}selected{% endif %}>Pós Pago</option>
                <option value="Pré Pago"{% if base_to_edit.produto == "Pré Pago" %}selected{% endif %}>Pré Pago</option>
                <option value="TL Pós Pago"{% if base_to_edit.produto == "TL Pós Pago" %}selected{% endif %}>TL Pós Pago</option>
            </select>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="categoria">Categoria</label>
            <select id="categoria" name="categoria" required>
                <option value="Financeiro"{% if base_to_edit.categoria == "Financeiro" %}selected{% endif %}>Financeiro</option>
                <option value="Base"{% if base_to_edit.categoria == "Base" %}selected{% endif %}>Base</option>
                <option value="Técnico"{% if base_to_edit.categoria == "Técnico" %}selected{% endif %}>Técnico</option>
                <option value="Outros"{% if base_to_edit.categoria == "Outros" %}selected{% endif %}>Outros</option>
                <option value="Cadastro"{% if base_to_edit.categoria == "Cadastro" %}selected{% endif %}>Cadastro</option>
            </select>
        </div>
        <div class="field">
            <label for="led_de_vendas">Led de Vendas</label>
            <select id="led_de_vendas" name="led_de_vendas" required>
                <option value="Led de Vendas" {% if base_to_edit.led_de_vendas == "Led de Vendas" %}selected{% endif %}>Led de Vendas</option>
                <option value="Outros" {% if base_to_edit.led_de_vendas == "Outros" %}selected{% endif %}>Outros</option>
                <option value="PIX" {% if base_to_edit.led_de_vendas == "PIX" %}selected{% endif %}>PIX</option>
                <option value="Técnica" {% if base_to_edit.led_de_vendas == "Técnica" %}selected{% endif %}>Técnica</option>
            </select>
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label>Impacta Call Center</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="impacta_call_center" value="Sim" {% if base_to_edit.impacta_call_center == "Sim" %}checked{% endif %}>
                    <label>Sim</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="impacta_call_center" value="Não" {% if base_to_edit.impacta_call_center == "Não" %}checked{% endif %}>
                    <label>Não</label>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="tag">Tag</label>
            <select id="tag" name="tag" required>
                <option value="evento" {% if base_to_edit.tag == "evento" %}selected{% endif %}>Evento</option>
                <option value="tracking_no" {% if base_to_edit.tag == "tracking_no" %}selected{% endif %}>Tracking | Nó</option>
                <option value="caminho_pagina" {% if base_to_edit.tag == "caminho_pagina" %}selected{% endif %}>Caminho Pagina</option>
            </select>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Funcionalidade</label>
            <input type="text" name="funcionalidade" value="{{ base_to_edit.funcionalidade }}">
        </div>
        <div class="field caminho_pagina" style="display: none">
            <label>Caminho da Página</label>
            <input type="text" name="caminho_pagina" value="{{ base_to_edit.caminho_pagina }}">
        </div>
        <div class="field rotulo_evento" style="display: none">
            <label>Rótulo de Evento</label>
            <input type="text" name="rotulo_evento" value="{{ base_to_edit.rotulo_evento }}">
        </div>
    </div>
    <div class="two fields" >
        <div class="field categoria_evento" style="display: none">
            <label>Categoria de Evento</label>
            <input type="text" name="categoria_evento" value="{{ base_to_edit.categoria_evento }}">
        </div>
        <div class="field acao_evento" style="display: none">
            <label>Ação de Evento</label>
            <input type="text" name="acao_evento" value="{{ base_to_edit.acao_evento }}">
        </div>
    </div>

    <button class="ui blue button" type="submit">Adicionar</button>
</form>


<hr>

<script>
    $(document).ready(function () {
        $("#canal").change(function () {
            var selectedCanal = $(this).val();
            var subcanalSelect = $("#subcanal");
            var produtoSelect = $("#produto");

            subcanalSelect.empty();
            produtoSelect.empty();

            // Preenche as opções do campo "Subcanal" com base na seleção do "Canal"
            {% for info in info_canais %}
                if ("{{ info.canal }}" === selectedCanal) {
                    subcanalSelect.append($("<option></option>").attr("value", "{{ info.subcanal }}").text("{{ info.subcanal }}"));
                }
            {% endfor %}

            // Atualiza as opções do campo "Produto" com base no "Subcanal" selecionado
            var selectedSubcanal = subcanalSelect.val();
            if (selectedSubcanal) {
                {% for info in info_canais %}
                    if ("{{ info.subcanal }}" === selectedSubcanal) {
                        produtoSelect.append($("<option></option>").attr("value", "{{ info.produto }}").text("{{ info.produto }}"));
                    }
                {% endfor %}
            }
        });

        $("#subcanal").change(function () {
            var selectedSubcanal = $(this).val();
            var produtoSelect = $("#produto");
            produtoSelect.empty();

            // Atualiza as opções do campo "Produto" com base no "Subcanal" selecionado
            {% for info in info_canais %}
                if ("{{ info.subcanal }}" === selectedSubcanal) {
                    produtoSelect.append($("<option></option>").attr("value", "{{ info.produto }}").text("{{ info.produto }}"));
                }
            {% endfor %}
        });
    });


    
// Adicione um evento de escuta de alteração ao campo "Tag"
function carregarPagina() {
    var selectedValue = this.value;
    var categoria = document.querySelectorAll(".categoria_evento");
    var acao = document.querySelectorAll(".acao_evento");
    var rotulo = document.querySelectorAll(".rotulo_evento");
    var pagina = document.querySelectorAll(".caminho_pagina");


    if (selectedValue === "evento") {
        // Se "evento" for selecionado, mostre os campos
        categoria.forEach(function (element) { element.style.display = "block"; });
        acao.forEach(function (element) { element.style.display = "block"; });
        rotulo.forEach(function (element) { element.style.display = "block"; }); 
        pagina.forEach(function (element) { element.style.display = "none"; });
    }
        
    else if (selectedValue === "tracking_no") {
        pagina.forEach(function (element) { element.style.display = "block"; });
        categoria.forEach(function (element) { element.style.display = "none"; });
        acao.forEach(function (element) { element.style.display = "none"; });
        rotulo.forEach(function (element) { element.style.display = "none"; }); 
        // Altere o título e o placeholder do campo "Caminho da Página" para "Tracking | Nó"
        //document.querySelector("label[for='caminho_pagina']").textContent = "Tracking | Nó";
        document.querySelector("input[name='caminho_pagina']").placeholder = "Tracking | Nó";
    }
    else {
        pagina.forEach(function (element) { element.style.display = "block"; });
        categoria.forEach(function (element) { element.style.display = "none"; });
        acao.forEach(function (element) { element.style.display = "none"; });
        rotulo.forEach(function (element) { element.style.display = "none"; });
        document.querySelector("input[name='caminho_pagina']").placeholder = "Caminho Pagina"; 

    }}

    // Chame a função carregarPagina quando a página for carregada
    window.addEventListener("load", carregarPagina);

</script>
{% endblock %}