<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De X Para</title>  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> <!-- Adicione esta linha para incluir o JavaScript do Semantic UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>


</head>
<body>
    <div class="ui container" style="margin-top: 50px;">
        <div class="ui secondary pointing menu">
            <a class="item " href="/">Home</a>
            <a class="item " href="/funcionalidades">Analise Funcionalidades</a> 
            <a class="item " href="/graficos_funcionalidades">Graficos Funcionalidades</a> 
            <a class="item " href="/exportar_csv">Exportar CSV</a>

            <!-- Adicione a opção de configuração apenas para administradores -->
            {% if current_user.is_authenticated and current_user.is_admin %}
            <a class="item" href="/configuracao">Configuração Usuário</a>
            <a class="item" href="/cadastro_canais">Cadastro Canais</a>

            {% endif %}
            <div class="right menu">
                {% if current_user.is_authenticated %}
                <a class="item" href="/logout">Logout</a>
                {% endif %}
            </div>
        </div>
        {% block body %} {% endblock %}
    </div>

</body>
</html>
